h3{
    color: #00a3e6;
    text-align: center;
}
.login{
    display: flex;
}
.formulaire{
    padding-left: 50px;
    margin-right: 10%;
    margin-left: auto;
    border: 5px solid #00a3e6;
    width: 24vw;
    text-align: center;
    height: 65vh;
    display: block;
    border-radius: 20px;
    color: white;
}
.formulaire div{
    margin-top: 77px;
}
.formulaire input{
    background-color: #ffffff00;
    border: none;
    outline: none;
    border-bottom: 3px solid #00a3e6;
}
label{
    padding-right: 20px;
}
.btn{
    margin-top: 63px;
    margin-left: 32%;
    color:white;
    border-radius: 25px;
    height: 32px;
    background-color: #00a3e6;
    outline: none;
    border: none;
}
.gauche{
    width: 24vw;
    height: 24vw;
    border-radius: 11%;
    transform: rotate(45deg);
    position: absolute;
    left: 5%;
    bottom: 14%;
    background-color: #EDE7F6;
    box-shadow: 20px -19px 0px 11px #00a3e6;
}
